@import 'config';


.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    #btns{
        margin: 0 10px;
        width: max-content;
        padding: 10px;
        border: 2px solid $color-2;
        font-weight: bold;
        cursor: pointer;
        transition: all 100ms ease;
        &:hover{
            background-color: $color-2;
        }
    }
}

.instructions{
    position: absolute;
    z-index: 2;
    width: max-content;
    height: max-content;
    background-color: white;
    padding: 20px;
    display: block;
    animation: scaleUp 200ms ease-out;
    .start{
        color: darkcyan;
        font-weight: 700;
    }
    .end{
        color: tomato;
        font-weight: 700;
    }

    &.close{
        display: none;
    }
}




.grid{
    margin: 20px;

    .node-row{
        height: $default-height;
        width: max-content;
    
    }
    
    .node{
        @include size;
        background-color: $color-1;
        outline: $out-line2;
    }
    
    .isEnd{
        @include size;
        background-color: tomato;
        animation: scaleDown 100ms ease-out;
        cursor: pointer;
    }
    
    .isStart{
        @include size;
        background-color: darkcyan;
        animation: scaleDown 100ms ease-out;
        cursor: pointer;
    }
    
    .node-visited{
        @include size;
        background-color: $color-2;
        outline: $out-line2;
        animation: scaleUp 200ms ease-out;
    }

    
    
    .node-shortest-path{
        @include size;
        background-color: $path-color;
        animation: scaleUp2 100ms ease-out;
    }
    
    
    
    .node-wall {
        @include size;
        background-color: #333333;
        outline: $out-line;
        animation: scaleDown 100ms ease-out;
    }
    
    @keyframes scaleUp{
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes scaleUp2{
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes scaleDown{
        0% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    
    
}